{% extends 'base.html.twig' %}

{% block title %} {% trans %}Settings{% endtrans %} ! {% endblock %}

{% block body %}

    <div class="mt-2" style="margin-left:10%;margin-right:10%;">

		{{form_start(userForm)}}

			<label class="form-controm"><b>{% trans %}Modifying roles for{% endtrans %} : {{user.email}}</b></label>
			
			{{form_row(userForm.roles)}}
			{{form_row(userForm.isDeleted, {'label': 'Disable User', 'attr' : {'class' : 'w-10 ml-2 mt-3'}})}}

			<button class="btn btn-success" type="submit">{% trans %}Save{% endtrans %}</button>
			<a class="btn btn-danger" href="{{ path('settings_users') }}">{% trans %}Cancel{% endtrans %}</a>

		{{form_end(userForm)}}
	</div>

{% endblock %}
