{% extends 'base.html.twig' %}

{% block title %} {% trans %}Settings{% endtrans %} !{% endblock %}

{% block body %}
    <div class="mt-2" style="margin-left:5%;margin-right:5%;">
		<label class="form-control text-center mb-3"><strong>{% trans %}Available Roles{% endtrans %}</strong></label>
		<table class="table table-hover mb-5">
			<tbody>
				{% for role in roles %}
					<tr>
						<th>{{ role.profileLabel }}</th>
						<th>{{ role.profileCode }}</th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{{form_start(form)}}

			{{ form_row(form.profileLabel) }}	
			{{ form_row(form.profileCode) }}	

			<button type="submit" class="btn btn-success mt-2 mb-2">{% trans %}Add New Role{% endtrans %}</button>
			
		{{form_end(form)}}
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		$("#profiles_profileLabel").on('input' , function(){
			var roleCode = $("#profiles_profileLabel").val().toUpperCase().split(' ').join('_');
			$("#profiles_profileCode").val("ROLE_" + roleCode);
		});
	</script>
{% endblock %}